.img1 {
    position: relative;
    left: 290px;
    bottom: -20px;
   }
   
   .img3 {
    position: relative;
    left: 578px;
    bottom: 101px;
   }
   
   .img2 {
    position: left;
    left: 865px;
    bottom: 222px;
   }